body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    text-align: center;
    padding: 1em;
}

.topnav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0.1em 2em;
    text-decoration: none;
    border-radius: 2em;
    vertical-align: middle;
}

.topnav img {
    vertical-align: middle;
    padding: 10px;
}

.foti {
    position: absolute;
    top: 0;
    right: 0;
}

.foti img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.topnav a:hover {
    background-color: rgb(44, 97, 37);
}

* {
    box-sizing: border-box;
}

.row img,
.row video {
    width: 20%;
    height: 20%;
    flex: 1.5;
    padding: 1em;
    margin: 1em;
    border-radius: 40px;
}

.column {
    float: left;
    width: 33.33%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 10px;
}

.column p {
    color: rgb(61, 61, 61);
}

.column p b {
    color: rgb(0, 0, 0);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: 100%;
    }

    .row video {
        width: 100%;
        padding: 10px;
        margin: 0;
    }
}
